// color

$white:#ffffff;
$black:#000000;
$green:#0ad9c6;
$grey:#48494d;
$menu-color:#f6f6f6;
$text-color:#1c1c1c;
$bgc: #e5e5e5;
$video-bgc: #131314;
$map-text: #1f1f1f;

// viewport

$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$mid-desktop-width: 1350px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
